[submodule "CarND-Behavioral-Cloning-P3"]
	path = CarND-Behavioral-Cloning-P3
	url = https://github.com/seekdestiny/CarND-Behavioral-Cloning-P3.git
[submodule "CarND-Extended-Kalman-Filter-Project"]
	path = CarND-Extended-Kalman-Filter-Project
	url = https://github.com/seekdestiny/CarND-Extended-Kalman-Filter-Project.git
[submodule "CarND-Kidnapped-Vehicle-Project"]
	path = CarND-Kidnapped-Vehicle-Project
	url = https://github.com/seekdestiny/CarND-Kidnapped-Vehicle-Project.git
[submodule "CarND-Path-Planning-Project"]
	path = CarND-Path-Planning-Project
	url = https://github.com/seekdestiny/CarND-Path-Planning-Project.git
